@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  scroll-behavior: smooth;
  background-color: ;
}

.container {
  margin: auto;
  width: 80%;
  text-align: center;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
/* ///////////////////////////////////////////////// NAVBAR ///////////////////////////////////////////////// */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  z-index: 1000;
  background-color: black;
}
nav.sticky {
  padding: 5px 120px;
  background: #ffde00;
  border-bottom: 1px solid(0, 0, 0, 0.1);
}

nav .logo {
  position: relative;
  font-weight: 700;
  color: #ffde00;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  display: flex;
}
nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  position: relative;
  list-style: none;
}
nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffde00;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: 0.6s;
}

nav.sticky .logo,
nav.sticky ul li a {
  color: #000;
}

.dropdown {
  float: left;
  overflow: hidden;
  transition: 0.3s;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ff8000;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: 0.6s;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*///////////////////////////////////////////              HEADER             ///////////////////////////////////////////////////////////// */

.hero {
  background: url(./pictures/bg-header.png) no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-top: 117px;
}
.hero-content {
  padding: 80px 0;

  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 #ffde00, 2px -1px 0 #ffde00, -1px 2px 0 #ffde00,
    2px 2px 0 #ffde00;
}
.hero-content h1 {
  font-size: 36px;
}
.hero-content img {
  max-width: 100%;
  min-width: 10%;
}

/*//////////////////////////////////////////             INTRO                   ///////////////////////////////////////////////////////////// */
.intro {
  background-color: #ffea5f;
  border-radius: 50%;
  margin-top: 10px;
}
.intro1 {
  display: flex;
  padding: 0 150px;
}
.intro1 p {
  margin: auto 0px;
  letter-spacing: 0.7px;
  font-size: 1em;
  font-weight: 700;
}
.intro1 img {
  max-width: 450px;
}
.intro2 {
  display: flex;
  padding: 0 150px;
  margin-top: -120px;
}
.intro2 p {
  margin: auto 0px;
  letter-spacing: 0.7px;
  font-size: 1em;
  font-weight: 700;
}
.intro2 img {
  max-width: 1800px;
}
@media (max-width: 1437px) {
  .intro {
    border-radius: 10%;
  }
  .intro1 img {
    max-width: 270px;
  }
  .intro2 img {
    max-width: 450px;
  }
  .intro2 {
    display: flex;
    padding: 0 150px;
    margin-top: -50px;
  }
}
@media (max-width: 1213px) {
  .intro {
    border-radius: 10%;
  }
  .intro1 img {
    max-width: 200px;
  }
  .intro2 img {
    max-width: 300px;
  }
  .intro1 {
    padding: 0 50px;
  }
  .intro2 {
    padding: 0 10px;
    margin-top: -10px;
  }
}
@media (max-width: 1123px) {
  .intro1 p {
    font-weight: 500;
  }
  .intro2 p {
    font-weight: 500;
  }
}
@media (max-width: 1035px) {
  .intro {
    border-radius: 10%;
  }
  .intro1 {
    padding: 5px;
  }
  .intro2 {
    padding: 5px;
    margin-top: 0px;
  }
}
@media (max-width: 637px) {
  .intro1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .intro2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
  }
}
/* ////////////////////////////////////////// EVENTS AND UPDATES ////////////////////////////////////////////////////*/
.events-and-updates {
  text-align: center;
  padding-top: 15px;
  margin-top: 70px;
}
marquee {
  text-align: center;
  max-width: 1100px;
}
marquee h1 {
  box-sizing: none;
  z-index: 0;
}

/*//////////////////////////////////////////           AFFILIATIONS AND RECOGNISATION         /////////////////////////////////////////////// */

.affi-recog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}
.affi h1 {
  margin-bottom: 20px;
}
.recog h1 {
  margin-bottom: 20px;
}
@media (max-width: 470px) {
  .affi-recog {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .recog {
    margin-top: 20px;
  }
}
/*////////////////////////////////////////////////             NOTICES AND CIRCULARS           /////////////////////////////////////////// */
.noticesandcirculars {
  text-align: center;
  padding-top: 15px;
  color: #ffa31a;
}
.noticesandcirculars a {
  color: #ffa31a;
}
.noticesandcirculars p {
  font-size: 1.1em;
}
.noticesandcirculars marquee {
  height: 500px;
}
.n-c {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./pictures/bg2.jpg);
  background-size: cover;
}
.ncbg {
  background: rgba(0, 0, 0, 0.2);
}
/*////////////////////////////////////////////////////////         ELECTIONS        ////////////////////////////////////////////////////////// */
.electionbg {
  background: url(./pictures/bgall.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.election {
  padding-top: 230px;
}
.election h1 {
  margin: 20px;
}
.election a {
  color: #000;
  line-height: 33px;
  font-weight: 600;
}
/*/////////////////////////////////////////////////////////         RULES      ///////////////////////////////////////////////////////////// */
.rules {
  background: url(./pictures/bgall.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 350px 0;
  line-height: 33px;
}
.rules ul {
  list-style-type: none;
}
.rules a {
  color: #000;
}
/*/////////////////////////////////////////////////////////         HISTORY      ///////////////////////////////////////////////////////////// */
.history {
  padding: 200px 0 50px 0;
  background: url(./pictures/bgall.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  font-weight: 600;
}
/*/////////////////////////////////////////////////////////         GALLERY     ///////////////////////////////////////////////////////////// */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ffde00;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: red;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffde00;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/*/////////////////////////////////////////////////////////         FOOTER     ///////////////////////////////////////////////////////////// */

footer {
  display: grid;
  justify-content: end;
  align-content: end;
  min-height: 60vh;
}
.footer-content {
  position: relative;
  width: 100%;
  padding: 50px 100px;
  height: auto;
  background-color: #ffde00;
}
footer .container-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
footer .container-footer .sec h2 {
  position: relative;
  color: black;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container-footer .sec h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #ff8000;
}
footer .container-footer .sec p {
  color: black;
}
.social {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #ff3300;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}
.social li a:hover {
  background-color: #ff8000;
}
.social li a .fa {
  color: black;
  font-size: 20px;
}
.quick-links {
  position: relative;
}
.quick-links li {
  list-style: none;
}
.quick-links li a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quick-links li a:hover {
  color: #ff8000;
}
.info-footer {
  position: relative;
}
.info-footer li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.info-footer li span:nth-child(1) {
  color: black;
  font-size: 20px;
}
.info-footer li span {
  color: black;
}
.info-footer a {
  color: black;
  text-decoration: none;
}
.info-footer a:hover {
  color: #ff8000;
}
.copyright {
  width: 100%;
  background-color: #ffdd009f;
  padding: 8px 100px;
}

@media (max-width: 991px) {
  .footer-content {
    padding: 40px;
  }
  footer .container-footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .copyright {
    padding: 8px 40px;
  }
}

@media (max-width: 768px) {
  footer .container-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
